<section class="mainWrap">
    <section class="formWrap">
        <h1>Login</h1>
            <form class="loginForm" [formGroup] = "loginForm" (ngSubmit) = "submitLoginForm()">
                    <app-form-http-error *ngIf = "httpFormStatusError?.error" [httpError] = "httpFormStatusError"></app-form-http-error>

                    <input type="text" placeholder="Enter username" formControlName = "loginName">

                    <input type="password" placeholder="Enter password" formControlName = "loginPassword">

                    <input type="submit" value="Login">

                    <span class="loginSignUpLink">Don't have accout? Sign up.</span>
            </form>
    </section>
</section>