.mainWrap {
    width:100%;
    height:89%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 .formWrap {
    height: 550px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginForm {
    margin-top:80px;
    border-radius:5px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:309px;
    height: auto;
    min-height: 324px;
    background: #FDFEFF;
    box-shadow: -4px -4px 16px #FFFFFF, 4px 4px 16px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.mainWrap .formWrap h1 {
    color:#3365FF;
    font-size:100px;
    font-weight: bold;
    margin:0px;
    padding:0px;
}

.loginForm input {
    outline: none;
    width: 250px;
    height: 40px;
    text-indent: 15px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent; 
    border-radius: 2px;
    background: #F5F5F5;
    box-shadow: inset -4px -4px 11px #FFFFFF, inset 4px 4px 11px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    color:#3365FF;
    font-weight:bold;
    margin-top:40px;
}

.loginForm input:hover {
    transform: scale(1.02); 
}

.loginForm input[type="submit"]{
    cursor: pointer;
    outline: none;
    border: none;
    margin-top:40px;
    margin-bottom:none;
    transition: all .1s ease-in-out;
    background: #1BB99D;
    color:white;
    box-shadow: -4px -4px 16px #FFFFFF, 4px 4px 16px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    font-weight: initial !important;
}

.loginForm input[type="submit"]:hover { 
    font-weight: bold !important;
    transform: scale(1.02); 
}

.loginForm p{
    color:white;
}

.loginForm p a {
    color:crimson !important;
    border-bottom:1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.loginForm p a:hover {
    border-bottom:1px solid crimson;
}

.loginForm .loginSignUpLink {
    margin-top:30px;
    margin-bottom:30px;
    font-size:15px;
    color:#A6A6A6;
}

.loginForm .loginSignUpLink .signUp {
    color: #474747;
}

.loginForm .loginSignUpLink .signUp:hover {
    border-bottom:1px solid #474747;
}

.loginForm ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A6A6A6;
    opacity: 0.7; /* Firefox */
    font-weight: initial !important;
}
  
.loginForm :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #A6A6A6;
    opacity: 0.7; 
    font-weight: initial !important;
}
  
.loginForm ::-ms-input-placeholder { /* Microsoft Edge */
    color: #A6A6A6;
    opacity: 0.7; 
    font-weight: initial !important;
}

.error {
    color:red;
    margin-right:auto;
}