<section class="wrap">
    <form class="loginForm" [formGroup] = "loginForm" (ngSubmit) = "submitLoginForm()">

            <h1>Login</h1>
            <!-- <app-form-error *ngIf = "f.loginName.dirty" class="error" [errors] = "f.loginName?.errors"></app-form-error> -->
            <app-form-http-error *ngIf="httpFormStatus" [httpErrorMessage] = "httpFormStatus"></app-form-http-error>

            <section class="inputField">
                <input type="text" placeholder="Enter name" formControlName = "loginName">
            </section>

            <section class="inputField">
                <input type="password" placeholder="Enter password" formControlName = "loginPassword">
            </section>

            <input type="submit" value="Login">
    </form>
</section>