/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');

* {
    padding:none;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", sans-serif; 
}

mat-icon {
    cursor: pointer;
}

a {
    text-decoration: none ;
    color:inherit;
    cursor:pointer;
}

.successSnackBarStyle {
    color:#3365FF;
    font-weight: bold;
    background-color: white;
    box-shadow: -4px -4px 16px #FFFFFF, 4px 4px 16px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.errorSnackBarStyle {
    color:#BB2A22;
    font-weight:bold;
    background-color: #FF5D53;
    border-radius: 6px;
    box-shadow: -4px -4px 16px #FFFFFF, 4px 4px 16px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
    margin-top:0px !important;
}

.advanced-pie-legend .total-value {
    margin-bottom: 10px !important;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
    margin-bottom: 6px !important;
}

.dvanced-pie-legend .legend-items-container .legend-items .legend-item .item-label {
    margin-top:-3px !important;
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-percent {
    margin-left: 14px !important;
    margin-top:5px !important;
}