<section class="mainWrapper">
  <app-page-heading [headingTextData] = "dashboardHeading"></app-page-heading>

  <section class="dashboardWrap">

    <section class="chartsWrap">

      <section class="overallChartWindow" #containerRef1>
        <ngx-charts-advanced-pie-chart
          [view]="[containerRef1.offsetWidth,185]"
          [scheme]="colorScheme"
          [results]="single"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)">
      </ngx-charts-advanced-pie-chart>
      </section>
  
      <section class="lineChartWindow" #containerRef2>
        <ngx-charts-line-chart
          [view]="[containerRef1.offsetWidth,180]"
          [scheme]="colorScheme"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [results]="multi"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)">
        </ngx-charts-line-chart>
      </section>

    </section>

    <section class="recentUpdates"></section>

  </section>
</section>
