<section class="header">
    <h1 mat-dialog-title>{{ data.titleText }}</h1>
</section>
<section mat-dialog-content>
    <form class="editAttendanceForm" [formGroup] = "editAttendanceForm">
        <app-form-http-error *ngIf = "httpFormStatusError?.error" [httpError] = "httpFormStatusError"></app-form-http-error>
        <section *ngFor="let form_element of formValues" class="mainInputWrap">

            <section [ngSwitch]="form_element.type">
              
              <section *ngSwitchCase="'number'" class="inputNumberWrap">
                <span *ngIf="form_element.label != 'id'">{{form_element.label}}</span>
                <input type="number" *ngIf="form_element.label != 'id'" formControlName="{{form_element.label}}"/>
              </section>

              <section *ngSwitchCase="'string'" class="inputTextWrap">
                <span>{{form_element.label}}</span>
                <input type="text" formControlName="{{form_element.label}}"/>
              </section>

              <section *ngSwitchCase="'date'" class="inputDateWrap">
                <span>{{form_element.label}}</span>
                <input type="date" formControlName="{{form_element.label}}"/>
              </section>

            </section>  

          </section>
    </form>
  </section>
<div>
    <button class="btn" (click)="confirm()">{{ data.confirmButtonText }}</button>
    <button class="btn btn-cancel" style="margin-right:10px;" (click)="cancel()">{{ data.cancelButtonText }}</button>
</div>