.header, .dialog-message {
    text-transform: lowercase;
    text-align: center;
}
.header::first-letter, .dialog-message::first-letter {
    text-transform: uppercase;
}

.dialog-message {
    color:#3365FF;
    font-weight: bold;
    font-size: 18px;
    width: 250px;
}

.editAttendanceForm input {
    outline: none;
    width: 250px;
    height: 40px;
    text-indent: 15px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent; 
    border-radius: 2px;
    background: #F5F5F5;
    box-shadow: inset -4px -4px 11px #FFFFFF, inset 4px 4px 11px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    color:#3365FF;
    font-weight:bold;
    margin-top:40px;
}

.editAttendanceForm input:hover {
    transform: scale(1.02); 
}

.btn {
    width: 250px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top:40px;
    margin-bottom:none;
    transition: all .1s ease-in-out;
    background: #1BB99D;
    color:white;
    box-shadow: -4px -4px 16px #FFFFFF, 4px 4px 16px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    font-weight: bold;
    display: block;
}

.btn-cancel {
    background-color: #FF5D53;
    color: #fff;
}
