<section class="mainWrapper">
    <app-page-heading [headingTextData] = "username"></app-page-heading>
  
    <section class="userDetailWrap">

        <section class="userDetailBox">
            <div></div>
            <div>
                <span class="role">Role</span>
                <span class="id">Id</span>
            </div>
            <span class="createdAt">Created at</span>
        </section>

        <section class="chartsWrap">

            <section class="chart1" #containerRef1>

            </section>
      
            <section class="chart2" #containerRef2>
              
            </section>
    
        </section>

    </section>
  </section>