.mainWrapper {
    width:100%;
    height: 89%;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.mainWrapper .userDetailWrap {
    width: 70%;
    align-self:center;
    display: flex;
    align-items:center;
    /*background-color: red;*/
}

.mainWrapper .userDetailWrap .userDetailBox {
    height: 230px;
    width: 230px;
    background: #FDFEFF;
    box-shadow: -4px -4px 16px #FFFFFF, 4px 4px 16px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    align-self: start;
}

.mainWrapper .userDetailWrap .chartsWrap {
    height: 100%;
    width: 580px;
    /*background-color: blue;*/
    margin-left: 21px;
}

.userDetailWrap .chart1, .userDetailWrap .chart2 {
    width: 100%;
    height: 230px;
    background: #FDFEFF;
    box-shadow: -4px -4px 16px #FFFFFF, 4px 4px 16px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.userDetailWrap .chart2 {
    margin-top: 21px;
}

.userDetailWrap .userDetailBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userDetailWrap div {
    margin-top: auto;
}

.userDetailWrap div:nth-child(1){
    height: 100px;
    width: 100px;
    background-color: red;
}

.userDetailWrap div .role, .id {
    display: block;
    color:#526B98;
}

.userDetailWrap .createdAt {
    margin-top: auto;
    margin-bottom: 10px;
    color: #CECECE;
}
