<nav>
    <ul>
        <li class="hamburgerMenu" [hidden]="inputSideNav.opened" *ngIf="isLogged">
            <mat-icon aria-hidden="false" aria-label="Example home icon" 
            (click) = "inputSideNav.open()">
            menu
            </mat-icon>
        </li>
        <section class="rightMenuItemsHolder">
            <a routerLink = '/' routerLinkActive = 'active' *ngIf="!isLogged"><li>Home</li></a>
            <a routerLink = '/login' routerLinkActive = 'active' *ngIf = "!isLogged"><li>Login</li></a>
            <a (click) = "logoutUser()" *ngIf = "isLogged"><li>Logout</li></a>
        </section>
    </ul>
</nav>