<nav>
    <ul>
        <li>
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click) = "inputSideNav.open()" [hidden]="inputSideNav.opened">
            menu
            </mat-icon>
        </li>
        <section class="rightMenuItemsHolder">
            <a routerLink = '/login' routerLinkActive = 'active' *ngIf = "!isLogged"><li>Login</li></a>
            <a routerLink = '/registration' routerLinkActive = 'active' *ngIf = "!isLogged"><li>Register</li></a>
            <a (click) = "logoutUser()" *ngIf = "isLogged"><li>Logout</li></a>
        </section>
    </ul>
</nav>