<mat-sidenav-container>
    <mat-sidenav #sideNav mode="side">
        <mat-icon class="closeIcon" (click) = "sideNav.close()">close</mat-icon>
        <br>
        <ul>
            <a routerLink = '/' routerLinkActive = 'active' *ngIf = "isSupervisor"><li>Dashboard</li></a>
            <a routerLink = 'superboard/usersList' routerLinkActive = 'active' *ngIf = "isSupervisor"><li>Users</li></a>
            <a routerLink = 'superboard/registration' routerLinkActive = 'active' *ngIf = "isSupervisor"><li>Register</li></a>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-topbar 
        [inputSideNav]="sideNav">
        </app-topbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>