<div class="header">
    <h1 mat-dialog-title>{{ data.titleText }}</h1>
</div>
<div mat-dialog-content>
    <form class="genericForm" [formGroup] = "genericForm">
        <app-form-http-error *ngIf = "httpFormStatusError?.error" [httpError] = "httpFormStatusError"></app-form-http-error>
    </form>
</div>
<div>
    <button class="btn" (click)="confirm()">{{ data.confirmButtonText }}</button>
    <button class="btn btn-cancel" style="margin-right:10px;" (click)="cancel()">{{ data.cancelButtonText }}</button>
</div>